<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Levei', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%# link_to 'St', root_path %>
      <%= link_to root_path do %>
        <!-- <i class="fas fa-file-alt"></i> -->
        <%= image_tag('stisla-fill', alt: 'logo', width: '30') %>
      <% end %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('dashboard', 'index') %>">
        <%= link_to dashboard_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Visão Geral</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('reverses', 'index') %>">
        <%= link_to reverses_path, class: "nav-link" do %>
          <i class="fas fa-exchange-alt"></i> <span>Reversas</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('dashboard', 'report') %>">
        <%= link_to report_path, class: "nav-link" do %>
          <i class="fas fa-file-alt"></i> <span>Relatorio</span>
        <% end %>
      </li>
    </ul>
  </aside>
</div>
