<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-primary">
          <i class="far fa-newspaper"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Em progresso</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('scheduled') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="far fa-user"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Coletado</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('collected') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-warning">
          <i class="far fa-file"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Transporte</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('shipped') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-success">
          <i class="far fa-circle"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Entregue</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('delivered') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" data-controller="infinite-page">
          <h5>Em progresso</h5>
          <h5><small>Acompanhe a situação dos pedidos de troca e devolução</small></h5>
          </br>
          <div class="table-responsive">
            <table class="table table-striped table-md">
              <thead>
                <tr>
                  <th>Motivo</th>
                  <th>Progresso</th>
                  <th>Número do Pedido</th>
                  <th>Data</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody data-target="infinite-page.container">
                <% @report.last_reverses.each do |reverse| %>
                  <tr data-target="infinite-page.item">
                    <td><%= Reverse.human_enum_name(:reason, reverse.reason) %></td>
                    <td class="align-middle">
                      <div class="progress" data-height="4" data-toggle="tooltip" title="<%= reverse.status_progress %>">
                        <div class="progress-bar bg-<%= reverse.status_badge %>" data-width="<%= reverse.status_progress %>"></div>
                      </div>
                    </td>
                    <td><%= reverse.external_order_id %></td>
                    <td><%= reverse.created_at.strftime('%d/%m/%Y') %></td>
                    <td><div class="badge badge-<%= reverse.status_badge %>"><%= Reverse.human_enum_name(:status, reverse.status) %></div></td>
                    <td>
                      <%= link_to 'Detalhe', reverse, title: 'Exibir', class: 'btn btn-primary' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Estatística financeira</h5>
          <h5><small>Veja como estão, financeiramente, suas trocas e devoluções</small></h5>
          </br>
          <%= column_chart([
            {name: 'Troca', data: @report.exchange_reverses.group_by_day(:created_at).count},
            {name: 'Devolução', data: @report.return_reverses.group_by_day(:created_at).count}
          ], colors: ["rgba(254,86,83,.7)", "rgba(63,82,227,.8)"], legend: false ) %>
          <div class="statistic-details mt-1">
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 7%</div>
              <div class="detail-value">R$243</div>
              <div class="detail-name">Hoje</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-danger"><i class="fas fa-caret-down"></i></span> 23%</div>
              <div class="detail-value">R$2,902</div>
              <div class="detail-name">Esta semana</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span>9%</div>
              <div class="detail-value">R$12,821</div>
              <div class="detail-name">Este mês</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 19%</div>
              <div class="detail-value">R$92,142</div>
              <div class="detail-name">Este ano</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Estatística de produtos</h5>
          <h5><small>Veja quais produtos são mais trocados e devolvidos</small></h5>
          </br>
          <div class="summary">
            <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
              <%= area_chart([
                {name: 'Troca', data: @report.exchange_products.group_by_day(:created_at).count},
                {name: 'Devolução', data: @report.return_products.group_by_day(:created_at).count}
              ], colors: ["rgba(63,82,227,.8)", "rgba(254,86,83,.7)"], legend: false, points: false, dataset: {borderColor: 'transparent'} ) %>
            </div>
            <div class="summary-item">
              <h6 class="mt-3">Lista de itens <span class="text-muted">(4 Itens)</span></h6>
              <ul class="list-unstyled list-unstyled-border">
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-4-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">R$805</div>
                    <div class="media-title"><a href="#">iBook Noob</a></div>
                    <div class="text-small text-muted">por <a href="#">Ahmad Sutisna</a> <div class="bullet"></div> Domingo</div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-1-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">R$405</div>
                    <div class="media-title"><a href="#">Headphone Blitz</a></div>
                    <div class="text-small text-muted">por <a href="#">Hasan Basri</a> <div class="bullet"></div> Domingo</div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-2-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">R$499</div>
                    <div class="media-title"><a href="#">RocketZ</a></div>
                    <div class="text-muted text-small">por <a href="#">Hasan Basri</a> <div class="bullet"></div> Domingo
                    </div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-3-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">R$149</div>
                    <div class="media-title"><a href="#">Xiaomay Readme 4.0</a></div>
                    <div class="text-small text-muted">por <a href="#">Kusnaedi</a> <div class="bullet"></div> Terça
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for(:page_title, 'Dashboard') %>
