<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-primary">
          <i class="far fa-newspaper"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Em progresso</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('scheduled') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="far fa-user"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Coletado</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('collected') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-warning">
          <i class="far fa-file"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Transporte</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('shipped') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-success">
          <i class="far fa-circle"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Entregue</h4>
          </div>
          <div class="card-body">
            <%= @report.reverses_with_status('delivered') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" data-controller="infinite-page">
          <h5>Em progresso</h5>
          <h5><small>Acompanhe a situacao dos pedidos de troca e devolucao</small></h5>
          </br>
          <div class="table-responsive">
            <table class="table table-striped table-md">
              <thead>
                <tr>
                  <th>Motivo</th>
                  <th>Progresso</th>
                  <th>Numero do Pedido</th>
                  <th>Data</th>
                  <th>Status</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody data-target="infinite-page.container">
                <% @report.last_reverses.each do |reverse| %>
                  <tr data-target="infinite-page.item">
                    <td><%= reverse.reason %></td>
                    <td><%= reverse.status %></td>
                    <td><%= reverse.external_order_id %></td>
                    <td><%= reverse.created_at %></td>
                    <td><%= reverse.status %></td>
                    <td>
                      <%= link_to icon('fas fa-eye'), reverse, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Estatistica financeira</h5>
          <h5><small>Veja como estao, financeiramente, suas trocas e devolucoes</small></h5>
          </br>
          <%= column_chart([
            {name: 'Troca', data: @report.exchange_reverses.group_by_day(:created_at).count},
            {name: 'Segundo', data: @report.return_reverses.group_by_day(:created_at).count}
          ], colors: ["rgba(254,86,83,.7)", "rgba(63,82,227,.8)"], legend: false ) %>
          <div class="statistic-details mt-1">
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 7%</div>
              <div class="detail-value">$243</div>
              <div class="detail-name">Today</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-danger"><i class="fas fa-caret-down"></i></span> 23%</div>
              <div class="detail-value">$2,902</div>
              <div class="detail-name">This Week</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span>9%</div>
              <div class="detail-value">$12,821</div>
              <div class="detail-name">This Month</div>
            </div>
            <div class="statistic-details-item">
              <div class="text-small text-muted"><span class="text-primary"><i class="fas fa-caret-up"></i></span> 19%</div>
              <div class="detail-value">$92,142</div>
              <div class="detail-name">This Year</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Estatistica de produtos</h5>
          <h5><small>Veja quais produtos sao mais trocados e devolvidos</small></h5>
          </br>
          <div class="summary">
            <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
              <%= area_chart([
                {name: 'Primeiro', data: @report.exchange_products.group_by_day(:created_at).count},
                {name: 'Segundo', data: @report.return_products.group_by_day(:created_at).count}
              ], colors: ["rgba(63,82,227,.8)", "rgba(254,86,83,.7)"], legend: false, points: false, dataset: {borderColor: 'transparent'} ) %>
            </div>
            <div class="summary-item">
              <h6 class="mt-3">Item List <span class="text-muted">(4 Items)</span></h6>
              <ul class="list-unstyled list-unstyled-border">
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-4-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">$805</div>
                    <div class="media-title"><a href="#">iBook Noob</a></div>
                    <div class="text-small text-muted">by <a href="#">Ahmad Sutisna</a> <div class="bullet"></div> Sunday</div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-1-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">$405</div>
                    <div class="media-title"><a href="#">Headphone Blitz</a></div>
                    <div class="text-small text-muted">by <a href="#">Hasan Basri</a> <div class="bullet"></div> Sunday</div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-2-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">$499</div>
                    <div class="media-title"><a href="#">RocketZ</a></div>
                    <div class="text-muted text-small">by <a href="#">Hasan Basri</a> <div class="bullet"></div> Sunday
                    </div>
                  </div>
                </li>
                <li class="media">
                  <a href="#">
                    <%= image_tag('products/product-3-50.png', alt: 'image', width: '50', class: 'mr-3 rounded') %>
                  </a>
                  <div class="media-body">
                    <div class="media-right">$149</div>
                    <div class="media-title"><a href="#">Xiaomay Readme 4.0</a></div>
                    <div class="text-small text-muted">by <a href="#">Kusnaedi</a> <div class="bullet"></div> Tuesday
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for(:page_title, 'Dashboard') %>
