<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Relatório</h1>
     <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item">Relatório</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-primary">
          <i class="fas fa-exchange-alt"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Trocas</h4>
          </div>
          <div class="card-body">
            <%= @report.exchange_reverses.count %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
          <i class="fas fa-long-arrow-alt-left"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Devoluções (créditos)</h4>
          </div>
          <div class="card-body">
            <%= @report.return_reverses.count %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-warning">
          <i class="fas fa-long-arrow-alt-down"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Devoluções (estorno)</h4>
          </div>
          <div class="card-body">
            0
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>Economia em logistica reversa</h5>
          <h5><small>Vejo quanto voce já economizou desde que começou a usar a Levei</small></h5>
          </br>
          <%= area_chart(
              { 'Segunda' => 50, 'Terça' => 55, 'Quarta' => 79, 'Quinta' => 100, 'Sexta' => 138 }, 
              colors: ["rgba(63,82,227,.8)"], 
              legend: false, 
              dataset: {borderColor: '#6777ef', pointBackgroundColor: '#ffffff', pointRadius: 4} 
            ) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Conversões</h5>
          <h5><small>Veja as conversões de devolução</small></h5>
          </br>
          <%= column_chart([
            {name: 'Estornos convertidos em créditos', data: @report.return_revert_credit.group_by_day(:created_at).count},
            {name: 'Devoluções convertidas em trocas', data: @report.return_revert_exchange.group_by_day(:created_at).count}
          ], colors: ["rgba(254,86,83,.7)", "rgba(63,82,227,.8)"], legend: "bottom") %>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>NPS</h5>
          <h5><small>Índice de satisfação do cliente</small></h5>
          </br>
          <%= pie_chart(
            { '87' => 87, '13' => 13 },
            legend: false,
            donut: true,
            colors: ["#63ed7a"],
            library: {cutoutPercentage: 85}
          ) %>
          <div class="chart-text-center text-center">
            <h1><strong>87</strong></h1>
            <h2><small>Pontos</small></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for(:page_title, 'Dashboard') %>
