<section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            <%= image_tag('levei-logo-07.png', alt: 'logo', width: '100') %>
          </div>

          <div class="card card-primary">
            <div class="card-header"><h4>Login</h4></div>

            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password, "Senha" %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>

                <div class="form-group">
                  <% if devise_mapping.rememberable? %>
                    <div class="custom-control custom-checkbo">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.submit "Entrar", class: "btn btn-primary btn-lg btn-block" %>
                </div>
              <% end %>

            </div>
          </div>
          <div class="simple-footer">
            Copyright &copy; Levei 2020
          </div>
        </div>
      </div>
    </div>
  </section>
