<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Reversa</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Lista de Reversas', reverses_path %></div>
      <div class="breadcrumb-item">Reversa</div>
    </div>
  </div>

   <div class="section-body">
      <div class="invoice">
        <div class="invoice-print">
          <div class="row">
            <div class="col-lg-12">
              <div class="invoice-title">
                <h2>Detalhes do Pedido</h2>
                <div class="invoice-number">Pedido #<%= @reverse.external_order_id %></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <address>
                    <strong>Cliente:</strong><br>
                    <%= @reverse.buyer.name %><br>
                  </address>
                </div>
                <div class="col-md-6 text-md-right">
                  <address>
                    <strong>Enviado para:</strong><br>
                    <%= @reverse.buyer.name %><br>
                    <%= @reverse.shipping_address.address1 %><br>
                    <%= @reverse.shipping_address.address2 %><br>
                    <%= "#{@reverse.shipping_address.state}, #{@reverse.shipping_address.city}" %>
                  </address>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <address>
                    <strong>Metodo de Pagamento:</strong><br>
                    Cartao de Credito<br>
                    <%= @reverse.buyer.email %>
                  </address>
                </div>
                <div class="col-md-6 text-md-right">
                  <address>
                    <strong>Data da Compra:</strong><br>
                    25 de Junho 2020<br><br>
                  </address>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <div class="section-title">O que foi solicitado</div>
              <div class="table-responsive">
                <table class="table table-striped table-hover table-md">
                  <thead>
                    <tr>
                      <th data-width="40">#</th>
                      <th>Item</th>
                      <th class="text-center">Motivo</th>
                      <th class="text-right">Totals</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @reverse.products.each_with_index do |product, index| %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= product.name %></td>
                        <td class="text-center"><%= @reverse.reason %></td>
                        <td class="text-right"><%= product.price %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="section-title">Status do Produto</div>
              <p class="section-lead">Veja onde esta seu produto.</p>
              </br>
              <div class="activities">
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-calendar-check"></i>
                  </div>
                  <div class="activity-label">Agendamento</div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-truck-loading"></i>
                  </div>
                  <div class="activity-label">Coleta</div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-truck"></i>
                  </div>
                  <div class="activity-label">Transporte</div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-sign-in-alt"></i>
                  </div>
                  <div class="activity-label">Entregue</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="section-title">Status do financeiro</div>
              <p class="section-lead">Fique sabendo como esta o reembolso do seu cliente.</p>
              </br>
              <div class="activities">
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-pause"></i>
                  </div>
                  <div class="activity-label">Aguardando</div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white shadow-primary">
                    <i class="fas fa-money-bill-wave"></i>
                  </div>
                  <div class="activity-label">Reembolsado</div>
                </div>
              </div>

              <hr>
              <div class="text-md-right">
                <div class="float-lg-left mb-lg-0 mb-3">
                  <button class="btn btn-primary btn-icon icon-left"><i class="fas fa-credit-card"></i> Realizar reembolso</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<%= link_to icon('fas fa-arrow-left', 'Voltar'), 'javascript:history.back()', class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Detalhe da reversa') %>
