<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Levei</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <%= favicon_link_tag 'levei-logo-07.png', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'levei-logo-07.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <!-- Fonts -->
    <link 
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Template Main CSS File -->
    <%= stylesheet_link_tag 'home_application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Template Main JS File -->
    <%= javascript_pack_tag 'home_application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>